.contenedor{
	flex-wrap: wrap;
    overflow: auto;
	width: 900px;
	height: 600px;
	border: 1px solid #BCB9B8;
	background:#BCB9B8;
	margin: 0 auto;	
}

.centro{
	height: 500px;	
	border: 2px white;
	background:white;
	margin: 30px 30px;
}
.izquierda{
	margin-top: 20px;
	margin: 30px 30px;
}