.contenedor{
	flex-wrap: wrap;
    overflow: auto;
	width: 900px;
	height: 550px;
	border: 1px solid #BCB9B8;
	background:#BCB9B8;
	margin: 0 auto;	
}

.centro{
	height: 400px;	
	border: 2px #BCB9B8;
	background:#BCB9B8;
	margin: 50px 50px;
}
.bg-faded1{
	background-color: #57606B ;
	color: white;
}

.jumbotron{
	background: #57606B ;
	text-align: center;
	height: 300px;
	margin-top: 10px;
}
.letras{
	color: white;
}

.fa .fa-facebook-official{
	height: 100px;
}